{% extends 'layouts/signaturit_base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {{ content_description }}
    <p>{{ our_party }}</p>
    <p>{{ opposition_party }}</p>
{% endblock %}